<form [formGroup]="form" (submit)="solveIt()">

  <mat-card>
    <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch">
      <mat-form-field fxFlex="10" fxFlex.xs="90">
        <mat-label>#Heuristic</mat-label>
        <mat-select formControlName="heuristic">
          <mat-option *ngFor="let heuristicClass of heuristicTypes"
                      [value]="heuristicClass">{{heuristicClass}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlex.xs="90">
        <mat-label>#Squeezing</mat-label>
        <mat-select formControlName="squeezing">
          <mat-option value="0">FALSE</mat-option>
          <mat-option value="1">TRUE</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlex.xs="90">
        <mat-label>#Map Size</mat-label>
        <mat-select formControlName="mapSize"
                    (selectionChange)="changeMapSize()">
          <mat-option *ngFor="let size of mapSizes"
                      [value]="size">{{size}} X {{size}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlex.xs="90">
        <mat-label>Start X:</mat-label>
        <input matInput formControlName="startX" placeholder="X"/>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlex.xs="90">
        <mat-label>Start Y:</mat-label>
        <input matInput formControlName="startY" placeholder="Y"/>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlex.xs="90">
        <mat-label>End X:</mat-label>
        <input matInput formControlName="endX" placeholder="X"/>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlex.xs="90">
        <mat-label>End Y:</mat-label>
        <input matInput formControlName="endY" placeholder="Y"/>
      </mat-form-field>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="5%">
      <button mat-raised-button type="submit" color="warn"
              fxFlex="30"
              [disabled]="!form.valid">Solve it
      </button>

      <button mat-raised-button type='button' color="primary"
              fxFlex="30"
              (click)='resetGrid()'>Reset
      </button>

      <button mat-raised-button type='button' color="accent"
              fxFlex="30"
              (click)='clearMap()'>Clear Map
      </button>
    </mat-card-content>
  </mat-card>
</form>

<canvas #canvasEl id="gameCanvas"></canvas>
